{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{ super () }}
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container_fluid" style="background-color: beige;">
        
        <ul>
            
            {{macro.displaySourceList(sources)}}
        </ul>
    </div>
{% endblock %}